<html>

<head>
  <title> Faculity Detail Form </title>
  <link href="../css/style2.css" rel="stylesheet">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Page formatting code -->
    <section id="team" class="section grey-section">
      <div class="white-shape"><div class="icon-container fixed border-radius"><i class="fa fa-users"></i></div></div>
      <div class="section-container">
          <div class="container">
              <div class="big-title">
                  <h3><span>FACULITY</span> Team</h3>
                  <div class="border-title"></div>
              </div>
              <!-- big-title -->

      <h3 class="light-title">Our Professionals Are Always Ready To Take Your Project</h3>
              <!-- using cards code for entering teachers detail -->
      <div class="teamlist row">
                <div class="col-md-3 col-sm-6">
                    <div class="teambox entry">
                        <img src="../img/singh2.jpg" alt="" class="img-responsive">                        
                        <div class="teamdesc">
                            <h3>ELLIE MEGAN</h3>
                              <p>Web Designer</p>
                           </div><!-- end teamdesc -->
                          <div class="magnifier">
                              <div class="buttons">
                                  <p>Lorem ipsum dolor sit amet, consectetur sed elit Integer lorem quam adipiscing. fusce congue dui vitae  Aene ae phasellus comm Suspendisse suscipit metus sem.  Nunc aliquam. Nunc ut elit.</p>
                                  <div class="border-hover"></div>
                                  <div class="teamdesc">
                                      <h3>ELLIE MEGAN</h3>
                                      <p>Web Designer</p>
                                  </div><!-- end teamdesc -->
                              </div><!-- end buttons -->
                          </div><!-- end magnifier -->
                      </div><!-- end team -->
                  </div><!-- end col -->
              
                <div class="col-md-3 col-sm-6">
                    <div class="teambox entry">
                        <img src="../img/singh2.jpg" alt="" class="img-responsive">                        
                        <div class="teamdesc">
                            <h3>ANNA KOVA</h3>
                              <p>Marketer</p>
                           </div><!-- end teamdesc -->
                          <div class="magnifier">
                              <div class="buttons">
                                  <p>Lorem ipsum dolor sit amet, consectetur sed elit Integer lorem quam adipiscing. fusce congue dui vitae  Aene ae phasellus comm Suspendisse suscipit metus sem.  Nunc aliquam. Nunc ut elit.</p>
                                  <div class="border-hover"></div>
                                  <div class="teamdesc">
                                      <h3>ANNA KOVA</h3>
                                      <p>Marketer</p>
                                  </div><!-- end teamdesc -->
                              </div><!-- end buttons -->
                          </div><!-- end magnifier -->
                      </div><!-- end team -->
                  </div><!-- end col -->
                  
                <div class="col-md-3 col-sm-6">
                    <div class="teambox entry">
                        <img src="../img/singh2.jpg" alt="" class="img-responsive">                        
                        <div class="teamdesc">
                            <h3>BEN OSCAR</h3>
                              <p>Programmer</p>
                           </div><!-- end teamdesc -->
                          <div class="magnifier">
                              <div class="buttons">
                                  <p>Lorem ipsum dolor sit amet, consectetur sed elit Integer lorem quam adipiscing. fusce congue dui vitae  Aene ae phasellus comm Suspendisse suscipit metus sem.  Nunc aliquam. Nunc ut elit.</p>
                                  <div class="border-hover"></div>
                                  <div class="teamdesc">
                                      <h3>BEN OSCAR</h3>
                                      <p>Programmer</p>
                                  </div><!-- end teamdesc -->
                              </div><!-- end buttons -->
                          </div><!-- end magnifier -->
                      </div><!-- end team -->
                  </div><!-- end col -->
                  
                <div class="col-md-3 col-sm-6">
                    <div class="teambox entry">
                        <img src="../img/singh2.jpg" alt="" class="img-responsive">                        
                        <div class="teamdesc">
                            <h3>LACY SMITH</h3>
                              <p>UI/UX</p>
                           </div><!-- end teamdesc -->
                          <div class="magnifier">
                              <div class="buttons">
                                  <p>Lorem ipsum dolor sit amet, consectetur sed elit Integer lorem quam adipiscing. fusce congue dui vitae  Aene ae phasellus comm Suspendisse suscipit metus sem.  Nunc aliquam. Nunc ut elit.</p>
                                  <div class="border-hover"></div>
                                  <div class="teamdesc">
                                      <h3>LACY SMITH</h3>
                                      <p>UI/UX</p>
                                  </div><!-- end teamdesc -->
                              </div><!-- end buttons -->
                          </div><!-- end magnifier -->
                      </div><!-- end team -->
                  </div><!-- end col -->

                  <div class="col-md-3 col-sm-6">
                    <div class="teambox entry">
                        <img src="../img/singh2.jpg" alt="" class="img-responsive">                        
                        <div class="teamdesc">
                            <h3>LACY SMITH</h3>
                              <p>UI/UX</p>
                           </div><!-- end teamdesc -->
                          <div class="magnifier">
                              <div class="buttons">
                                  <p>Lorem ipsum dolor sit amet, consectetur sed elit Integer lorem quam adipiscing. fusce congue dui vitae  Aene ae phasellus comm Suspendisse suscipit metus sem.  Nunc aliquam. Nunc ut elit.</p>
                                  <div class="border-hover"></div>
                                  <div class="teamdesc">
                                      <h3>LACY SMITH</h3>
                                      <p>UI/UX</p>
                                  </div><!-- end teamdesc -->
                              </div><!-- end buttons -->
                          </div><!-- end magnifier -->
                      </div><!-- end team -->
                  </div><!-- end col -->

                  <div class="col-md-3 col-sm-6">
                    <div class="teambox entry">
                        <img src="../img/singh2.jpg" alt="" class="img-responsive">                        
                        <div class="teamdesc">
                            <h3>LACY SMITH</h3>
                              <p>UI/UX</p>
                           </div><!-- end teamdesc -->
                          <div class="magnifier">
                              <div class="buttons">
                                  <p>Lorem ipsum dolor sit amet, consectetur sed elit Integer lorem quam adipiscing. fusce congue dui vitae  Aene ae phasellus comm Suspendisse suscipit metus sem.  Nunc aliquam. Nunc ut elit.</p>
                                  <div class="border-hover"></div>
                                  <div class="teamdesc">
                                      <h3>LACY SMITH</h3>
                                      <p>UI/UX</p>
                                  </div><!-- end teamdesc -->
                              </div><!-- end buttons -->
                          </div><!-- end magnifier -->
                      </div><!-- end team -->
                  </div><!-- end col -->

                  <div class="col-md-3 col-sm-6">
                    <div class="teambox entry">
                        <img src="../img/singh2.jpg" alt="" class="img-responsive">                        
                        <div class="teamdesc">
                            <h3>LACY SMITH</h3>
                              <p>UI/UX</p>
                           </div><!-- end teamdesc -->
                          <div class="magnifier">
                              <div class="buttons">
                                  <p>Lorem ipsum dolor sit amet, consectetur sed elit Integer lorem quam adipiscing. fusce congue dui vitae  Aene ae phasellus comm Suspendisse suscipit metus sem.  Nunc aliquam. Nunc ut elit.</p>
                                  <div class="border-hover"></div>
                                  <div class="teamdesc">
                                      <h3>LACY SMITH</h3>
                                      <p>UI/UX</p>
                                  </div><!-- end teamdesc -->
                              </div><!-- end buttons -->
                          </div><!-- end magnifier -->
                      </div><!-- end team -->
                  </div><!-- end col -->

                  <div class="col-md-3 col-sm-6">
                    <div class="teambox entry">
                        <img src="../img/singh2.jpg" alt="" class="img-responsive">                        
                        <div class="teamdesc">
                            <h3>LACY SMITH</h3>
                              <p>UI/UX</p>
                           </div><!-- end teamdesc -->
                          <div class="magnifier">
                              <div class="buttons">
                                  <p>Lorem ipsum dolor sit amet, consectetur sed elit Integer lorem quam adipiscing. fusce congue dui vitae  Aene ae phasellus comm Suspendisse suscipit metus sem.  Nunc aliquam. Nunc ut elit.</p>
                                  <div class="border-hover"></div>
                                  <div class="teamdesc">
                                      <h3>LACY SMITH</h3>
                                      <p>UI/UX</p>
                                  </div><!-- end teamdesc -->
                              </div><!-- end buttons -->
                          </div><!-- end magnifier -->
                      </div><!-- end team -->
                  </div><!-- end col -->



              </div><!-- end row -->
          </div><!-- end container -->
      </div><!-- end section-container -->
  </section><!-- end section -->

</body>

</html>