<!DOCTYPE html>
<html>
  <head>
    <title> Sports Form </title>
    <link href="../css/bstyle.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="../js/jquery.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  </head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../../home.html">GNDU eClerk</a>
          </div>
          <div  class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li >
                <a href="../../home.html">Home</a>
              </li>
              <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Forms
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="gen-data-form.html">Personal Details</a>
                  </li>
                  <li>
                    <a href="placement-form.html">Placement Form</a>
                  </li>
                  <li>
                    <a href="examination-form.html">Examination Form</a>
                  </li>
                  <li>
                    <a href="scholarship-form.html">Scholarship Form</a>
                  </li>
                  <li class="active">
                    <a href="sports-form.html">Sports Form</a>
                  </li>
                  <li>
                    <a href="jashan-form.html">Jashan Form</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fee Collection
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Generate Fee Slip</a>
                  </li>
                  <li>
                    <a href="fee-confirm-form.html">Verify Payment</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Faculty List
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="faculty.html">Professors</a>
                      </li>
                      <li>
                        <a href="faculty.html">Research Scholars</a>
                      </li>
                    </ul>
                </li>
                <ul class="nav navbar-nav">
                        <li>
                          <a href="#">Syllabus</a>
                        </li>
                </ul>


              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="sign-in.html">
                    <span class="glyphicon glyphicon-user"></span> Sign Out</a>
                </li>
              </ul>
          </div>
      </nav>
      <div class="jumbotron">
        <h1> Sports Form </h1>
      </div>

<form action=""> 
  Full name:
  <input type="text">
  <br><br>
  
  Date of Birth:
  <input type="text">
  <br><br>
  
  Gender:<br>
  <input type="radio" name="Gender" value="male" checked> Male<br>
  <input type="radio" name="Gender" value="female"> Female<br>
  <input type="radio" name="Gender" value="other"> Other<br><br>

  Mobile Number:<br>
  <input type="text"><br><br>
  
  E-mail ID:<br>
  <input type="text"><br><br>
  
  Class:<br>
  <input type="text"><br><br>

  Roll No:<br>
  <input type="text"><br>
  <br>
  Games you want to play:<br>
  <input type="checkbox">Cricket<br>
  <input type="checkbox">Badminton<br>
  <input type="checkbox">Table Tennis<br>
  <input type="checkbox">Arm Wrestling<br>
  <input type="checkbox">Lawn Tennis<br>
  <input type="checkbox">Handball<br>
  <input type="checkbox">Table Tennis<br>
  <input type="checkbox">Basketball<br>
  <input type="checkbox">Football<br>
  <input type="checkbox">Carrom<br>
  <input type="checkbox">Tug Of War<br>
  <input type="checkbox">Hockey<br>
  
    <br>
</form> 


<input type="Submit" value="Submit">
<input type="Reset" value="Reset">


</body>
</html>