<!DOCTYPE html>
<html lang="en">

<head>
  <title>Page 1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="sources/jquery.min.js"></script>
  <script src="sources/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">GNDU eClerk</a>
      </div>
      <div  class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Forms
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Personal Details</a>
              </li>
              <li>
                <a href="#">Placement Form</a>
              </li>
              <li>
                <a href="#">Examination Form</a>
              </li>
              <li>
                <a href="#">Scholarship Form</a>
              </li>
              <li>
                <a href="#">Sports Form</a>
              </li>
              <li>
                <a href="#">Jashan Form</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fee Collection
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Generate Fee Slip</a>
              </li>
              <li>
                <a href="#">Verify Payment</a>
              </li>
            </ul>
          </li>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-user"></span> Sign Out</a>
            </li>
          </ul>
      </div>
  </nav>
  <div class="container">
    <h2>Time Table </h2>

    <table class="table table-hover" id="time">
      <thead>
        <tr>
          <th>Timings/Day</th>
          <th>9:00-10:00</th>
          <th>10:00-11:00</th>
          <th>11:00-12:00</th>
          <th>12:00-1:00</th>
          <th>1:00-2:00</th>
          <th>2:00-3:00</th>
          <th>3:00-4:00</th>
          <th>4:00-5:00</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Monday</th>
          <td>sub 1</td>
          <td>sub 2</td>
          <td>sub 3</td>
          <td>sub 4</td>
          <td>lunch break</td>
          <td>sub 5</td>
          <td>sub 6</td>
          <td>sub 7</td>

        </tr>
        <tr>
          <th>Tuesday</th>
          <td>sub 1</td>
          <td>sub 2</td>
          <td>sub 3</td>
          <td>sub 4</td>
          <td>lunch break</td>
          <td>sub 5</td>
          <td>sub 6</td>
          <td>sub 7</td>
        </tr>
        <tr>
          <th>Wednesday</th>
          <td>sub 1</td>
          <td>sub 2</td>
          <td>sub 3</td>
          <td>sub 4</td>
          <td>lunch break</td>
          <td>sub 5</td>
          <td>sub 6</td>
          <td>sub 7</td>
        </tr>
        <tr>
          <th>Thursday</th>
          <td>sub 1</td>
          <td>sub 2</td>
          <td>sub 3</td>
          <td>sub 4</td>
          <td>lunch break</td>
          <td>sub 5</td>
          <td>sub 6</td>
          <td>sub 7</td>
        </tr>
        <tr>
          <th>Friday</th>
          <td>sub 1</td>
          <td>sub 2</td>
          <td>sub 3</td>
          <td>sub 4</td>
          <td>lunch break</td>
          <td>sub 5</td>
          <td>sub 6</td>
          <td>sub 7</td>
        </tr>

      </tbody>
    </table>

  </div>
  <div class="container">
    <h2>Notices</h2>
    <table class="table">
      <tr>
        <td>
          <img src="Images/1.jpg">
        </td>
        <td>
          <img src="Images/2.jpg">
        </td>
        <td>
          <img src="Images/3.jpg">
        </td>
      </tr>
    </table>

  </div>
</body>

</html>