<html>
    <head>
        <title> Dmc Distribution Form </title>
        <link href="../css/bstyle.css" rel="stylesheet">
    </head>
    
    <body>
            
            <div class="jumbotron">
                    <header><h1> Class </h1></header>
                    </div>
                
     <table>
            <tr>
                <th> Roll No </th>
                <th> Name </th>
                <th> Status </th>
            </tr>
            <tr> 
                <td> 2015CSB1551 </td>
                <td> Gagandeep </td>
                <td> 
                     <label class="switch">
                        <input type="checkbox">
                         <span class="slider round"></span>
                     </label>
                              
                </td>
            </tr>

            <tr> 
                    <td> 2015CSB1552 </td>
                    <td> Harinder </td>
                    <td> 
                         <label class="switch">
                            <input type="checkbox">
                             <span class="slider round"></span>
                         </label>
                                  
                    </td>
                </tr>

                <tr> 
                        <td> 2015CSB1553 </td>
                        <td> Sukhsagar </td>
                        <td> 
                             <label class="switch">
                                <input type="checkbox">
                                 <span class="slider round"></span>
                             </label>
                                      
                        </td>
                    </tr>

                    <tr> 
                            <td> 2015CSB1554 </td>
                            <td> Adeeshnoor </td>
                            <td> 
                                 <label class="switch">
                                    <input type="checkbox">
                                     <span class="slider round"></span>
                                 </label>
                                          
                            </td>
                        </tr>

        </table>
    </body>
</html>