<html>

<head>
    <title> Examination Form Page </title>
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <header><h1> Guru Nanak Dev university Regional Campus Sathiala </h1></header>

    <form>
        <fieldset>
            <legend> Examination form </legend>
            <img src="./img/singh2.png" alt="My Image" title="Student" height="150px" width="150px"><br>
            Registration Number:<br>
            <input type="text" name="Reg No"><br><br>
            Roll No:<br>
            <input type="text" name="Roll No"><br><br>
            Name:<br>
            <input type="text" name="Name"><br><br>
            Father Name:<br>
            <input type="text" name="Father Name"><br><br>
            Mother Name:<br>
            <input type="text" name="Mother Name"><br><br>
            Address:<br>
            <input type="text" name="Address"><br><br>
            Mobile Number:<br>
            <input type="text" name="Mobile No"><br><br>
            City/Town:<br>
            <input type="radio" name="City/Town" value="Rular"checked> Rular <br>
            <input type="radio" name="City/Town" value="Urban"> Urban <br><br>
            Category:<br>
            <input type="radio" name="Category" value="Gen" checked> Gen <br>
            <input type="radio" name="Category" value="Sc"> Sc <br>
            <input type="radio" name="Category" value="Bc"> Bc <br><br>
            Exam Code:<br>
            <input type="text" name="Exam Code"><br><br>
            Exam Center:<br>
            <input type="text" name="Exam Center"><br><br>


         </fieldset>
    </form>

    <form>
        <fieldset>
            <legend> Qualification Detail </legend>
            <table>
                <tr>
                    <th> Class </th>
                    <th> Uni/Board </th>
                    <th> Passing Year </th>
                    <th> Marks </th>
                    <th> Percentage </th>
                    <th> Division </th>
                </tr>

                <tr>
                    <th> 10th </th>
                </tr>

                <tr>
                    <th> 12th </th>
                </tr>

                <tr>
                    <th> Graduation </th>
                </tr>

                <tr>
                    <th> Post-Graduation </th>
                </tr>

                <tr>
                    <th> Other Qualification </th>
                </tr>
            </table>
        </fieldset>
    </form>

    <form>
        <fieldset>
            <legend> Subject Detail </legend>
            <table>
                <tr>
                    <th> Serial No </th>
                    <th> Subject Nmae </th>
                    <th> Subject Code </th>
                </tr>
                <tr>
                    <th> 1. </th>
                </tr>
                <tr>
                    <th> 2. </th>
                </tr>
                <tr>
                    <th> 3. </th>
                </tr>
                <tr> 
                    <th> 4. </th>
                </tr>
                <tr>
                    <th> 5. </th>
                </tr>
                <tr>
                    <th> 6. </th>
                </tr>
                <tr>
                    <th> 7. </th>
                </tr>
            </table>
        </fieldset>
    </form>
    <footer>
    Date:
    <input type="text" name="Date"><br><br>
    Place:
    <input type="text" name="Place"><br><br>
    Signature:
    <input type="text" name="Signature">
    </footer><br>


</body>
</html>