<html>

<head>
  <title> Faculity Detail Form </title>
  <link href="../css/bstyle.css" rel="stylesheet">
</head>

<body>
  <div class="jumbotron">
    <header>
      <h1> Faculity Detail </h1>
    </header>
  </div>
  <table>
    <tr>
      <td>
        <div class="container">
          <div class="card" style="width:200px">
            <img class="card-img-top" src="../img/singh.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <a href="../img/singh.jpg" class="btn btn-primary">See Profile</a>
            </div>
          </div>
      </td>
      <td>

        <div class="container">
          <div class="card" style="width:100px">
            <img class="card-img-top" src="../img/singh2.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <a href="../img/singh2.jpg" class="btn btn-primary">See Profile</a>
            </div>
          </div>
      </td>
      <td>
        <div class="container">
          <div class="card" style="width:200px">
            <img class="card-img-top" src="../img/singh3.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <a href="../img/singh3.jpg" class="btn btn-primary">See Profile</a>
            </div>
          </div>
      </td>

    </tr>

    <tr>
      <td>
        <div class="container">
          <div class="card" style="width:200px">
            <img class="card-img-top" src="../img/singh.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <a href="../img/singh.jpg" class="btn btn-primary">See Profile</a>
            </div>
          </div>
      </td>
      <td>

        <div class="container">
          <div class="card" style="width:100px">
            <img class="card-img-top" src="../img/singh2.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <a href="../img/singh2.jpg" class="btn btn-primary">See Profile</a>
            </div>
          </div>
      </td>
      <td>
        <div class="container">
          <div class="card" style="width:200px">
            <img class="card-img-top" src="../img/singh3.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">John Doe</h4>
              <a href="../img/singh3.jpg" class="btn btn-primary">See Profile</a>
            </div>
          </div>
      </td>

    </tr>

  </table>



</body>

</html>