<html>
    <head>
        <title> Faculity Detail Form </title>
        <link href="../css/bstyle.css" rel="stylesheet">
    </head>
    <body>
        <div class="jumbotron">
        <header><h1> Faculity Detail </h1></header>
        </div>

        <table>
            <tr>
                <td> 
                    <img src="../img/singh.jpg" title="Teacher Detail" width="200px" height="200px"><br>
                    Name:

                </td>
                <td> 
                    <img src="../img/singh.jpg" title="Teacher Detail" width="200px" height="200px"><br>
                    Name:

                </td>
                <td> 
                    <img src="../img/singh.jpg" title="Teacher Detail" width="200px" height="200px"><br>
                    Name:

                </td>
                <td> 
                    <img src="../img/singh.jpg" title="Teacher Detail" width="200px" height="200px"><br>
                    Name:

                </td>
                                
            </tr>
        </table>
            </body>
</html>