<html>

<head> 
    <title> Fee Slip Confirmation Page </title>
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>

    <form>
        <fieldset>
            <legend> Fee Slip Confirmation </legend>
            Name:<br>
            <input type="text" name="Name"><br>
            Roll No:<br>
            <input type="text" name="Roll No"><br>
            Class:<br>
            <input type="text" name="Class"><br>
            Bank Challan Number:<br>
            <input type="text" name="Bank Challan Number"><br>
            Bank Deposit Id:<br>
            <input type="text" name="Bank Deposit Id"><br>
            Fee Deposit Date:<br>
            <input type="text" name="Fee Deposit Date"><br><br>
            <input type="submit" name="Submit"> 
            <input type="reset" name="Reset">

        </fieldset>
    </form>
</body>
</html>