<html>

<head>
    <title> General Data page </title>
    <link href="../css/bstyle.css" rel="stylesheet">
</head>

<body>
    <div class="jumbotron">
        <h1> General Detail </h1>
    </div>

    <form>
        <fieldset>
            <legend> University Detail </legend>
                Registration Number:<br>
                <input type="text" name="Reg Number"><br>
                Roll No:<br>
                <input type="text" name="Roll No"><br>
                University Rank:<br>
                <input type="text" name="Uni Rank"><br>
                Category:<br>
                <input type="text" name="Category"><br>
        </fieldset>
    </form>

    <form>

        <fieldset>
            <legend> Personel Information </legend>
        First Name:<br>
        <input type="text" name="First Name"><br>
        Last Name:<br>
        <input type="text" name="Last Name"><br>
        Gender:<br>
        <input type="radio" name="Gender" value="Male" checked> Male <br>
        <input type="radio" name="Gender" value="Female"> Female <br>
        Date Of Birth:<br>
        <input type="text" name="D.O.B"><br>
        Father Name:<br>
        <input type="text" name="Father Name"><br>
        Mother Name:<br>
        <input type="text" name="Mother Name"><br>
        Address:<br>
        <input type="text" name="Address"><br>
        Mobile Number:<br>
        <input type="text" name="Mobile Number"><br>
        Father Mobile Number:<br>
        <input type="text" name="Father Mobile Number"><br>
        Email:<br>
        <input type="text" name="Email Id"><br>
        </fieldset>

    </form>

    <form>
        <fieldset>
            <legend> Qualification Detail </legend>
            <table>
                <tr>
                    <th> Class </th>
                    <th> Uni/Board </th>
                    <th> Passing Year </th>
                    <th> Marks </th>
                    <th> Percentage </th>
                    <th> Division </th>
                </tr>

                <tr>
                    <th> 10th </th>
                </tr>

                <tr>
                    <th> 12th </th>
                </tr>

                <tr>
                    <th> Graduation </th>
                </tr>

                <tr>
                    <th> Post-Graduation </th>
                </tr>

                <tr>
                    <th> Other Qualification </th>
                </tr>
            </table>
        </fieldset>
    </form>
</body>
</html>