<html>

<head>
    <title> Jashan Data Page </title>
    <link href="../css/bstyle.css" rel="stylesheet">
</head>

<body>
        <div class="jumbotron">
        <header><h1> Jashan </h1></header>
        </div>
    <form>
        <fieldset>
            <legend> Participent Detail </legend>
            Name:<br>
            <input type="text" name="Name"><br>
            Roll no:<br>
            <input type="text" name="Roll no"><br>
            Class:<br>
            <input type="text" name="Class"><br>
            Event:<br>
            <input type="checkbox" name="Event" value="Bhangra"> Bhangra <br>
            <input type="checkbox" name="Event" value="Rangoli"> Rangoli <br>
            <input type="checkbox" name="Event" value="Quiz"> Quiz <br>
            <input type="checkbox" name="Event" value="Painting"> Painting <br>
            <input type="checkbox" name="Event" value="Gidha"> Gidha <br><br>
            <input type="submit" name="Submit"> 
            <input type="reset" name="Reset">
        </fieldset>
    </form>
    
</body>
</html>