<!DOCTYPE html>
<html>
  <head> 
    <title> Placement Form </title>
    <link href="../css/bstyle.css" rel="stylesheet">
  </head>
<body>
      <div class="jumbotron">
        <h1> Placement Form </h1>
      </div>

<form action="">
  <fieldset> 
    <legend> Personel Detail </legend>
  Full name:
  <input type="text">
  <br><br>
  
  Date of Birth:
  <input type="text">
  <br><br>
  
  Gender:<br>
  <input type="radio"> Male<br>
  <input type="radio"> Female<br>
  <input type="radio"> Other
  <br><br>
  
  Category:<br>
  <input type="radio"> General<br>
  <input type="radio"> OBC<br>
  <input type="radio"> SC/ST<br>
  <input type="radio"> Freedom Fighter<br>
  <br>
  Father's Name:<br>
  <input type="text"><br>
  <br>
  Father's Occupation:<br>
  <input type="text"><br>
  <br>
  Residence Number:<br>
  <input type="text"><br>
  <br>
  Mother's Name:<br>
  <input type="text"><br>
  <br>
  Mother's Occupation:<br>
  <input type="text"><br>
  <br>
  Mobile Number:<br>
  <input type="text"><br>
  <br>
  E-mail ID:<br>
  <input type="text"><br>
  <br>
  Address:<br>
  <input type="text"><br>
  </fieldset>

</form>

<form>  
  <fieldset>
    <legend> Qualification Detail </legend>

  Board in 10th Class:<br>
  <input type="text"><br>
  
  Ending date of 10th Class:<br>
  <input type="text"><br>
  
  Percentage of marks:<br>
  <input type="text"><br>

  Board in 12th Class:<br>
  <input type="text"><br>
  
  Ending date of 12th Class:<br>
  <input type="text"><br>
  
  Percentage of marks:<br>
  <input type="text"><br>

  UG Qualification:<br>
  <input type="text"><br>
  
  UG Specialisation:<br>
  <input type="text"><br>
  
  UG Percentage/CGPA:<br>
  <input type="text"><br>
  
  UG Start Date:<br>
  <input type="text"><br>
  
  UG Ending Date:<br>
  <input type="text"><br>

  PG Qualification:<br>
  <input type="text"><br>

  PG Specialisation:<br>
  <input type="text"><br>
  
  PG Percentage/CGPA:<br>
  <input type="text"><br>
  
  PG Start Date:<br>
  <input type="text"><br>
  
  PG Ending Date:<br>
  <input type="text"><br>
  </fieldset>
  </form>

<form>
  <fieldset>
    <legend> Campus Detail </legend>

  Campus you study:<br>
  <input type="text"><br>

  
  Any Pending Backlog:<br>
  <input type="radio">Yes<br>
  
  If Yes, Please specify how many, otherwise leave blank.<br>
  <input type="text"><br><br>
  <input type="radio">No<br>
  <br>
  
  Any gap in studies:<br>
  <input type="radio">Yes<br>
  
  If Yes, Give reason, otherwise leave blank.<br>
  <input type="text"><br><br>
  <input type="radio">No<br>
  <br>
  
  NCS Id:<br>
  <input type="text"><br>
  <br>
  
  Interested in Placements:<br>
  <input type="radio">Yes<br>
  <input type="radio">No<br>
  </fieldset>
</form> 


<input type="submit" value="Submit">


</body>
</html>