<html>

<head>
    <title> Scholarship Form </title>
    <link href="../css/bstyle.css" rel="stylesheet">
</head>
<body>
    <div class="jumbotron">
    <header><h1> Scholarship Form </h1></header>
    </div>
    <form>
        <fieldset>
            <legend> Student Information </legend>
            <img src="../img/singh2.png" alt="My Image" title="Student" height="150px" width="150px"><br>
            Name:<br>
            <input type="text" name="Name"><br><br>
            Roll No:<br>
            <input type="text" name="Roll No"><br><br>
            Class:<br>
            <input type="text" name="Class"><br><br>
            Maniority:<br>
            <input type="radio" name="Maniority" value="Sikh"> Sikh <br>
            <input type="radio" name="Maniority" value="Hindhu"> Hindhu <br>
            <input type="radio" name="Maniority" value="Muslim"> Muslim <br><br>
            Category:<br>
            <input type="radio" name="Category" value="Gen"> Gen <br>
            <input type="radio" name="Category" value="Sc"> Sc <br>
            <input type="radio" name="Category" value="Bc"> Bc <br><br>
            Income Certificate:<br>
            <input type="text" name="Income Certificate"><br><br>
            Residence Certificate:<br>
            <input type="text" name="Residence Certificate"><br><br>
            Fee Concession:<br>
            <input type="radio" name="Fee Concession" value="Full"> Full <br>
            <input type="radio" name="Fee Concession" value="Half"> Half <br><br>
            <input type="submit" name="Submit"> 
            <input type="reset" name="Reset">


        </fieldset>
    </form>
</body>
</html>