<!DOCTYPE html>
<html>
  <head>
    <title> Sports Form </title>
    <link href="./css/bstyle.css" rel="stylesheet">
  </head>
<body>

<form action=""> 
  Full name:
  <input type="text">
  <br><br>
  
  Date of Birth:
  <input type="text">
  <br><br>
  
  Gender:<br>
  <input type="radio"> Male<br>
  <input type="radio"> Female<br>
  <input type="radio"> Other
  <br><br>
  Mobile Number:<br>
  <input type="text"><br>
  <br>
  E-mail ID:<br>
  <input type="text"><br>
  <br>
  Class:<br>
  <input type="text"><br>
  <br>
  Roll No:<br>
  <input type="text"><br>
  <br>
  Games you want to play:<br>
  <input type="checkbox">Cricket<br>
  <input type="checkbox">Badminton<br>
  <input type="checkbox">Table Tennis<br>
  <input type="checkbox">Arm Wrestling<br>
  <input type="checkbox">Lawn Tennis<br>
  <input type="checkbox">Handball<br>
  <input type="checkbox">Table Tennis<br>
  <input type="checkbox">Basketball<br>
  <input type="checkbox">Football<br>
  <input type="checkbox">Carrom<br>
  <input type="checkbox">Tug Of War<br>
  <input type="checkbox">Hockey<br>
  
  
  
  
  
    <br>
</form> 


<input type="submit" value="Submit">


</body>
</html>