.alignCenter{
	text-align:center;
}
.text-white{
	color: #fff;
}
@media only screen and (max-width: 640px) and (min-width: 320px){
	.top-margin{
		margin-top: 10%;
	}
}
.bg-black{
	background-color: black;
}
.footer{
	height: 5%;
	min-height: 30px;
}