<html>

<head>
    <title> Dmc Distribution Form </title>
    <link href="../css/bstyle.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style2.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Page formatting code -->
    <section id="team" class="section grey-section">
        <div class="white-shape">
            <div class="icon-container fixed border-radius">
                <i class="fa fa-users"></i>
            </div>
        </div>
        <div class="section-container">
            <div class="container">
                <div class="big-title">
                    <h3>
                        <span>DMC</span> Distribution</h3>
                    <div class="border-title"></div>
                </div>
                <!-- dropdown menu code -->
                <div class="form-group col-md-2">
                    <label for="inputState">Batch</label>
                    <select id="inputState" class="form-control">
                        <option selected="selected">Choose...</option>
                        <option>2015-2018</option>
                        <option>2016-2019</option>
                        <option>2017-2020</option>
                        <option>2018-2021</option>
                        <option>2019-2022</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputState">Semester</label>
                    <select id="inputState" class="form-control">
                        <option selected="selected">Choose...</option>
                        <option>Sem-1</option>
                        <option>Sem-2</option>
                        <option>Sem-3</option>
                        <option>Sem-4</option>
                        <option>Sem-5</option>
                        <option>Sem-6</option>
                    </select>
                </div>
                <!-- Page entries with toggle button code -->
                <main class="main-content bgc-grey-100">
                    <div id="mainContent">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <b>ROLL NO</b>
                                                    </th>
                                                    <th>
                                                        <b>NAME</b>
                                                    </th>
                                                    <th>
                                                        <b>STATUS</b>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <label id="irollno">2015CSB1551</label>
                                                    </td>
                                                    <td>
                                                        <label id="iname">Gagan</label>
                                                    </td>
                                                    <td>
                                                        <label class="switch" id="istatus">
                                                            <input type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <label id="irollno">2015CSB1552</label>
                                                            </td>
                                                            <td>
                                                                <label id="iname">Sukhsagar</label>
                                                            </td>
                                                            <td>
                                                                <label class="switch" id="istatus">
                                                                    <input type="checkbox">
                                                                    <span class="slider round"></span>
                                                                </label>
                                                            </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <label id="irollno">2015CSB1553</label>
                                                            </td>
                                                            <td>
                                                                <label id="iname">Adeesh</label>
                                                            </td>
                                                            <td>
                                                                <label class="switch" id="istatus">
                                                                    <input type="checkbox">
                                                                    <span class="slider round"></span>
                                                                </label>
                                                            </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <label id="irollno">2015CSB1554</label>
                                                            </td>
                                                            <td>
                                                                <label id="iname">Harinder</label>
                                                            </td>
                                                            <td>
                                                                <label class="switch" id="istatus">
                                                                    <input type="checkbox">
                                                                    <span class="slider round"></span>
                                                                </label>
                                                            </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <label id="irollno">2015CSB1555</label>
                                                            </td>
                                                            <td>
                                                                <label id="iname">Gurpreet</label>
                                                            </td>
                                                            <td>
                                                                <label class="switch" id="istatus">
                                                                    <input type="checkbox">
                                                                    <span class="slider round"></span>
                                                                </label>
                                                            </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <label id="irollno">2015CSB1556</label>
                                                            </td>
                                                            <td>
                                                                <label id="iname">Jasjeet</label>
                                                            </td>
                                                            <td>
                                                                <label class="switch" id="istatus">
                                                                    <input type="checkbox">
                                                                    <span class="slider round"></span>
                                                                </label>
                                                            </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                </main>
                </div>
                </div>
    </section>


</body>

</html>