<html>

<head>
    <title> Fee Slip Confirmation Page </title>
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style2.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/feeconfirm.js"></script>
</head>

<body>
    <!-- Page formattimg code -->
    <section id="team" class="section grey-section">
        <div class="white-shape">
            <div class="icon-container fixed border-radius">
                <i class="fa fa-users"></i>
            </div>
        </div>
        <div class="section-container">
            <div class="container">
                <div class="big-title">
                    <h3>
                        <span>FEE</span> Confirmation</h3>
                    <div class="border-title"></div>
                </div>
                <!-- page enteries detail code -->
                <div class="masonry-item col-md-6">
                    <div class="bgc-white p-20 bd">
                        <div class="mT-30">
                            <form>
                                <div class="form-group row">
                                    <label for="inputtext" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="iname" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputtext" class="col-sm-2 col-form-label">Roll No</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="irollno" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputtext" class="col-sm-2 col-form-label">Class</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="iclass" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputtext" class="col-sm-2 col-form-label">Bank Challan Number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="ibcn" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputtext" class="col-sm-2 col-form-label">Bank Deposit Id</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="ibdi" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputtext" class="col-sm-2 col-form-label">Fee Deposit Date</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="ifdd" placeholder="">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" id="isubmit" onclick="validate();">Submit</button>
                        <button type="submit" class="btn btn-primary" id="icancle">Cancle</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>