<html>
    <head>
        <title> Notice </title>
        <link href="../css/style.css" rel="stylesheet">
        <link href="../css/style2.css" rel="stylesheet">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- Page formatting code -->
        <section id="team" class="section grey-section">
            <div class="white-shape">
                <div class="icon-container fixed border-radius">
                    <i class="fa fa-users"></i>
                </div>
            </div>
            <div class="section-container">
                <div class="container">
                    <div class="big-title">
                        <h3>
                            <span>view all notices</span> </h3>
                        <div class="border-title"></div>
                    </div>

                    <!-- Using data tables code -->
                    <main class="main-content bgc-grey-100">
                        <div id="mainContent">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                  <label for="inputtext" class="col-sm-2 col-form-label">Notice</label>
                                  <table id="dataTable" style="padding-left: 25px" class="table table-striped table-bordered" cellspacing="0"
                                    width="100%">
                                    <thead>
                                      <tr>
                                        <th><b>Title</b></th>
                                        <th><b>Type</b></th>
                                        <th><b>Detail</b></th>
                                        <th><b>Uploaded</b></th>
                                        <th><b>Validity</b></th>
                                        <th><b>Edit</b></th>
                                        <th><b>View All</b></th>
                                        <th><b>Publish/Un-publish</b></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>
                                            <input type="text" class="formcontrol" id="ititle" placeholder="">
                                        </td>
                                        <td>
                                            <input type="text" class="formcontrol" id="itype" placeholder="">
                                        </td>
                                        <td>
                                            <input type="text" class="formcontrol" id="idetail" placeholder="">
                                        </td>
                                        <td>
                                            <input type="text" class="formcontrol" id="iuploaded" placeholder="">
                                        </td>
                                        <td>
                                            <input type="text" class="formcontrol" id="ivalidity" placeholder="">
                                        </td>
                                        <td>
                                          <button type="submit" id="iedit">
                                                <a href="#">Edit</a>
                                          </button>
                                        </td>
                                        <td>
                                            <button type="submit" id="iviewall">View All</button>
                                        </td>
                                        <td>
                                                <select id="ipublish" class="form-control">
                                                        
                                                        <option>Publish</option>
                                                        <option>Un-publish</option>
                                                    </select>
                                        </td>

                                      </tr>
                                      <tr>
                                            <td>
                                                    <input type="text" class="formcontrol" id="ititle" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="itype" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="idetail" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="iuploaded" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="ivalidity" placeholder="">
                                                </td>
                                                <td>
                                                  <button type="submit" id="iedit">
                                                        <a href="#">Edit</a>
                                                  </button>
                                                </td>
                                                <td>
                                                    <button type="submit" id="iviewall">View All</button>
                                                </td>
                                                <td>
                                                        <select id="ipublish" class="form-control">
                                                                
                                                                <option>Publish</option>
                                                                <option>Un-publish</option>
                                                            </select>
                                                </td>
                                      </tr>
                                      <tr>
                                            <td>
                                                    <input type="text" class="formcontrol" id="ititle" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="itype" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="idetail" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="iuploaded" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="ivalidity" placeholder="">
                                                </td>
                                                <td>
                                                  <button type="submit" id="iedit">
                                                        <a href="#">Edit</a>
                                                  </button>
                                                </td>
                                                <td>
                                                    <button type="submit" id="iviewall">View All</button>
                                                </td>
                                                <td>
                                                        <select id="ipublish" class="form-control">
                                                                
                                                                <option>Publish</option>
                                                                <option>Un-publish</option>
                                                            </select>
                                                </td>
                                      </tr>
                                      <tr>
                                            <td>
                                                    <input type="text" class="formcontrol" id="ititle" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="itype" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="idetail" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="iuploaded" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="ivalidity" placeholder="">
                                                </td>
                                                <td>
                                                  <button type="submit" id="iedit">
                                                        <a href="#">Edit</a>
                                                  </button>
                                                </td>
                                                <td>
                                                    <button type="submit" id="iviewall">View All</button>
                                                </td>
                                                <td>
                                                        <select id="ipublish" class="form-control">
                                                                
                                                                <option>Publish</option>
                                                                <option>Un-publish</option>
                                                            </select>
                                                </td>
                                      </tr>
                                      <tr>
                                            <td>
                                                    <input type="text" class="formcontrol" id="ititle" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="itype" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="idetail" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="iuploaded" placeholder="">
                                                </td>
                                                <td>
                                                    <input type="text" class="formcontrol" id="ivalidity" placeholder="">
                                                </td>
                                                <td>
                                                  <button type="submit" id="iedit">
                                                        <a href="#">Edit</a>
                                                  </button>
                                                </td>
                                                <td>
                                                    <button type="submit" id="iviewall">View All</button>
                                                </td>
                                                <td>
                                                        <select id="ipublish" class="form-control">
                                                                
                                                                <option>Publish</option>
                                                                <option>Un-publish</option>
                                                            </select>
                                                </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </main>
                </div>
            </div>
        </section>
        
        
    </body>
</html>