<html>

<head>
    <title> Scholarship detail </title>
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style2.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Page formatting code -->
    <section id="team" class="section grey-section">
        <div class="white-shape">
            <div class="icon-container fixed border-radius">
                <i class="fa fa-users"></i>
            </div>
        </div>
        <div class="section-container">
            <div class="container">
                <div class="big-title">
                    <h3>
                        <span>HEADING</span>
                    </h3>
                    <div class="border-title"></div>
                </div>
                
                <!-- Using data tables code -->
                <main class="main-content bgc-grey-100">
                    <div id="mainContent">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                        <label for="inputtext" class="col-sm-2 col-form-label">Scholarship Detail</label>
                                        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <b>Name</b>
                                                    </th>
                                                    <th>
                                                        <b>Roll No</b>
                                                    </th>
                                                    <th>
                                                        <b>Category</b>
                                                    </th>
                                                    <th>
                                                        <b>Minority</b>
                                                    </th>
                                                    <th>
                                                        <b>Income Certificate</b>
                                                    </th>
                                                    <th>
                                                        <b>Residence Certificate</b>
                                                    </th>
                                                    <th>
                                                        <b>Fee Concession</b>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iname" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="irollno" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="icategory" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="imaniority" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iincome" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iresidence" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="ifeeconcession" placeholder="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iname" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="irollno" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="icategory" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="imaniority" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iincome" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iresidence" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="ifeeconcession" placeholder="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iname" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="irollno" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="icategory" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="imaniority" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iincome" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iresidence" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="ifeeconcession" placeholder="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iname" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="irollno" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="icategory" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="imaniority" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iincome" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iresidence" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="ifeeconcession" placeholder="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iname" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="irollno" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="icategory" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="imaniority" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iincome" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="iresidence" placeholder="">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="formcontrol" id="ifeeconcession" placeholder="">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </section>


</body>

</html>