<html>

<head>
    <title> Add New Batch </title>
    <link href="../css/bstyle.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style2.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/app.js"></script>
    <script src="../js/addnewbatch.js"></script>
    <script src="../js/papaparse.js"></script>
</head>

<body>
    <!-- Page formatting code -->
    <section id="team" class="section grey-section">
        <div class="white-shape">
            <div class="icon-container fixed border-radius">
                <i class="fa fa-users"></i>
            </div>
        </div>
        <div class="section-container">
            <div class="container">
                <div class="big-title">
                        <h3>
                                <span>Student Login Log</span> </h3>
                            <div class="border-title"></div>
                        </div>
                        <div class="form-group col-md-2">
                                <label for="inputState">Class</label>
                                <select id="class" class="form-control">
                                   
                                    <option selected>MCA-(TYC)</option>
                                    <option>MCA-(FYC)</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                              <label for="inputState">Semester</label>
                              <select id="semester" class="form-control">
                                  <option selected>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>

                              </select>
                          </div>
                          <div class="form-group col-md-2">
                                <label for="inputState">Roll No</label>
                                <select id="rollNo" class="form-control">
                                    <option selected></option>
                                    
  
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                    <button  type="submit" id="search" onclick="">Search</button>  
                                    
                                </div>
                            </div>
                            </div>
                            </section>
                            </body>
                            </html>
