<html>

<head>
    <title> Add New Batch </title>
    <link href="../css/bstyle.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style2.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Page formatting code -->
    <section id="team" class="section grey-section">
        <div class="white-shape">
            <div class="icon-container fixed border-radius">
                <i class="fa fa-users"></i>
            </div>
        </div>
        <div class="section-container">
            <div class="container">
                <div class="big-title">
                    <h3>
                        <span>HEADING</span> </h3>
                    <div class="border-title"></div>
                </div>
                <!-- dropdown menu code -->
                <div class="form-group col-md-2">
                    <label for="inputState">Batch</label>
                    <select id="inputState" class="form-control">
                        <option selected="selected">Choose...</option>
                        <option>MCA-(TYC)</option>
                        <option>MCA-(FYC)</option>
                    </select>
                </div>
                <!-- Using data tables code -->
                <main class="main-content bgc-grey-100">
                    <div id="mainContent">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                              <label for="inputtext" class="col-sm-2 col-form-label">Add Detail</label>
                              <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                                width="100%">
                                <thead>
                                  <tr>
                                    <th><b>Name</b></th>
                                    <th><b>Father Name</b></th>
                                    <th><b>Mother Name</b></th>
                                    <th><b>Rank</b></th>
                                    <th><b>Registration No</b></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <input type="text" class="formcontrol" id="iname" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="ifathername" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="imothername" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="irank" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="iregistrationno" placeholder="">
                                    </td>
                                  <tr>
                                    <td>
                                      <input type="text" class="formcontrol" id="iname" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="ifathername" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="imothername" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="irank" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="iregistrationno" placeholder="">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <input type="text" class="formcontrol" id="iname" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="ifathername" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="imothername" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="irank" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="iregistrationno" placeholder="">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <input type="text" class="formcontrol" id="iname" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="ifathername" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="imothername" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="irank" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="iregistrationno" placeholder="">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <input type="text" class="formcontrol" id="iname" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="ifathername" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="imothername" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="irank" placeholder="">
                                    </td>
                                    <td>
                                      <input type="text" class="formcontrol" id="iregistrationno" placeholder="">
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </main>
                
            </div>
        </div>
    </section>


</body>

</html>