<html>
    <head>
        <title> Display detail </title>
        <link href="../css/style.css" rel="stylesheet">
        <link href="../css/style2.css" rel="stylesheet">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- Page formatting code -->
        <section id="team" class="section grey-section">
            <div class="white-shape">
                <div class="icon-container fixed border-radius">
                    <i class="fa fa-users"></i>
                </div>
            </div>
            <div class="section-container">
                <div class="container">
                    <div class="big-title">
                        <h3>
                            <span>HEADING</span> </h3>
                        <div class="border-title"></div>
                    </div>

                    <!-- Using data tables code -->
                    <main class="main-content bgc-grey-100">
                        <div id="mainContent">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                  <label for="inputtext" class="col-sm-2 col-form-label">General Detail</label>
                                  <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                                    width="100%">
                                    <thead>
                                      <tr>
                                        <th><b>Registration No</b></th>
                                        <th><b>Roll No</b></th>
                                        <th><b>Name</b></th>
                                        <th><b>Class</b></th>
                                        <th><b>Percentage</b></th>
                                        <th><b>Division</b></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td><b>10th</b></td>
                                        <td>-----</td>
                                        <td>----</td>
                                        <td>----</td>
                                        <td>-----</td>
                                        <td>------</td>
                                      </tr>
                                      <tr>
                                        <td><b>12th</b></td>
                                        <td>-----</td>
                                        <td>-----</td>
                                        <td>-----</td>
                                        <td>-----</td>
                                        <td>------</td>
                                      </tr>
                                      <tr>
                                        <td><b>Graduation</b></td>
                                        <td>-----</td>
                                        <td>------</td>
                                        <td>------</td>
                                        <td>------</td>
                                        <td>------</td>
                                      </tr>
                                      <tr>
                                        <td><b>Post Graduation</b></td>
                                        <td>-----</td>
                                        <td>-----</td>
                                        <td>-----</td>
                                        <td>-----</td>
                                        <td>-----</td>
                                      </tr>
                                      <tr>
                                        <td><b>Other Course</b></td>
                                        <td>------</td>
                                        <td>-----</td>
                                        <td>------</td>
                                        <td>------</td>
                                        <td>-----</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </main>
        
        
    </body>
</html>