<html>
    <head>
        <title> Notice Creation </title>
        <link href="../css/style.css" rel="stylesheet">
        <link href="../css/style2.css" rel="stylesheet">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

        <!-- Page formatting code -->
        <section id="team" class="section grey-section">
            <div class="white-shape">
                <div class="icon-container fixed border-radius">
                    <i class="fa fa-users"></i>
                </div>
            </div>
            <div class="section-container">
                <div class="container">
                    <div class="big-title">
                        <h3>
                            <span>HEADING</span> </h3>
                        <div class="border-title"></div>
                    </div>

                    <div class="masonry-item col-md-6">
                        <div class="bgc-white p-20 bd">
                          <div class="mT-30">
                            <form>
                              <div class="form-group row">
                                <label for="inputtext" class="col-sm-2 col-form-label">Notice Heading</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputtext" placeholder="">
                                </div>
                              </div>
                              <!-- dropdown menu code -->
                <div class="form-group col-md-4">
                    <label for="inputState">Type</label>
                    <select id="inputState" class="form-control">
                      <option selected="selected">Choose...</option>
                      <option>Text</option>
                      <option>Image</option>
                      <option>Pdf</option>
                    </select>
                  </div><br><br><br><br><br>  
                  <div class="form-group row">
                    <label for="inputtext" class="col-sm-2 col-form-label">Validity</label>
                    <div class="col-sm-10">
                      <input class="form-check-input" type="radio" name="Validity"> 1 Day
                      <br>
                      <input class="form-check-input" type="radio" name="Validity"> 1 Week
                      <br>
                      <input class="form-check-input" type="radio" name="Validity"> 1 Month
                      <br>
                      <input class="form-check-input" type="radio" name="Validity"> 6 Month
                    </div>
                  </div>
                  
                            </form>
                        </div>
                      </div>
                  </div> 
                  <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Upload</button>
                      <button type="submit" class="btn btn-primary">Cancle</button>
                    </div>
                  </div>
                </div>
            </div>
        </section>
        

    </body>

</html>