<!DOCTYPE html>
<html>
  <head> 
    <title> Placement Form </title>
    <link href="../css/style.css" rel="stylesheet">
  <link href="../css/style2.css" rel="stylesheet">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../../home.html">GNDU eClerk</a>
          </div>
          <div  class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li>
                <a href="../../home.html">Home</a>
              </li>
              <li class="dropdown active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Forms
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="gendata-form.html">General Detail</a>
                      </li>    
                  <li class="active">
                    <a href="placement-form.html">Placement Form</a>
                  </li>
                  <li>
                    <a href="examination-form.html">Examination Form</a>
                  </li>
                  <li>
                    <a href="scholarship-form.html">Scholarship Form</a>
                  </li>
                  <li>
                    <a href="sports-form.html">Sports Form</a>
                  </li>
                  <li>
                    <a href="jashan-form.html">Jashan Form</a>
                  </li>
                  <li>
                    <a href="http://www.gnduadmissions.org/dhanpreet_idmay2017/idoddsem_index.asp" target="_blank">ID Courses</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fee Collection
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="http://slc.gndu.ac.in/StudentArea/Login.aspx" target="_blank">Generate Fee Slip</a>
                  </li>
                  <li>
                    <a href="feeconfirm.html">Verify Payment</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Faculty List
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="facultydetail.html">Professors</a>
                      </li>
                      <li>
                        <a href="facultydetail.html">Research Scholars</a>
                      </li>
                    </ul>
                </li>
                <ul class="nav navbar-nav">
                        <li>
                          <a href="#">Syllabus</a>
                        </li>
                </ul>
          </div>
      </nav>

  <!-- Page formatting code -->
  <section id="team" class="section grey-section">
    <div class="white-shape">
      <div class="icon-container fixed border-radius">
        <i class="fa fa-users"></i>
      </div>
    </div>
    <div class="section-container">
      <div class="container">
        <div class="big-title">
          <h3>
            <span>PLACEMENT</span> Form</h3>
          <div class="border-title"></div>
        </div>
        <!-- page enteries code -->
        <div class="masonry-item col-md-6">
          <div class="bgc-white p-20 bd">
            <div class="mT-30">
              <form>
                <div class="form-group row">
                  <label for="inputtext" class="col-sm-2 col-form-label">Registration No</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="iregistrationno" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputtext" class="col-sm-2 col-form-label">Roll No</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="irollno" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputtext" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="iname" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputtext" class="col-sm-2 col-form-label">Date of Birth</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="idob" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputtext" class="col-sm-2 col-form-label">Gender</label>
                  <div class="col-sm-10">
                    <input class="form-check-input" type="radio" name="Gender" id="igender"> Male
                    <br>
                    <input class="form-check-input" type="radio" name="Gender" id="igender"> Female
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputtext" class="col-sm-2 col-form-label">Category</label>
                  <div class="col-sm-10">
                    <input class="form-check-input" type="radio" name="Category" id="icategory"> Gen
                    <br>
                    <input class="form-check-input" type="radio" name="Category" id="icategory"> SC/ST
                    <br>
                    <input class="form-check-input" type="radio" name="Category" id="icategory"> BC
                    <br>
                    <input class="form-check-input" type="radio" name="Category" id="icategory"> Others
                    <br>
                  </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputtext" class="col-sm-2 col-form-label">Father Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="ifathername" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputtext" class="col-sm-2 col-form-label">Father Occupation</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="ifatheroccupation" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputtext" class="col-sm-2 col-form-label">Mother Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="imothername" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputtext" class="col-sm-2 col-form-label">Mother Occupation</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="imotheroccupation" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputtext" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="iaddress" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputtext" class="col-sm-2 col-form-label">Mobile No</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="imobileno" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputtext" class="col-sm-2 col-form-label">Email Id</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="iemailid" placeholder="">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <main class="main-content bgc-grey-100">
            <div id="mainContent">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                      <label for="inputtext" class="col-sm-2 col-form-label">Qualification Detail</label>
                      <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                        width="100%">
                        <thead>
                          <tr>
                            <th><b>class</b></th>
                            <th><b>University Board</b></th>
                            <th><b>Passing Year</b></th>
                            <th><b>Marks</b></th>
                            <th><b>Percentage</b></th>
                            <th><b>Division</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><b>10th</b></td>
                            <td>
                                <input type="text" class="formcontrol" id="iuniversityboard" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="ipassingyear" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="imarks" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="ipercentage" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="idivision" placeholder="">
                              </td>
                          </tr>
                          <tr>
                            <td><b>12th</b></td>
                            <td>
                                <input type="text" class="formcontrol" id="iuniversityboard" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="ipassingyear" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="imarks" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="ipercentage" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="idivision" placeholder="">
                              </td>
                          </tr>
                          <tr>
                            <td><b>Graduation</b></td>
                            <td>
                                <input type="text" class="formcontrol" id="iuniversityboard" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="ipassingyear" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="imarks" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="ipercentage" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="idivision" placeholder="">
                              </td>
                          </tr>
                          <tr>
                            <td><b>Other Course</b></td>
                            <td>
                                <input type="text" class="formcontrol" id="iuniversityboard" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="ipassingyear" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="imarks" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="ipercentage" placeholder="">
                              </td>
                              <td>
                                <input type="text" class="formcontrol" id="idivision" placeholder="">
                              </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>

                <div class="masonry-item col-md-6">
                  <div class="bgc-white p-20 bd">
                    <div class="mT-30">
                        <div class="form-group">
                          <label for="inputtext">Campus You Study</label>
                          <input type="text" class="form-control" id="icys" placeholder="">
                        </div>
                        <div class="form-group">
                          <label for="inputtext">Any Pending Backlog</label><br>
                          <input class="form-check-input" type="radio" name="Any Pending Backlog" id="iradio"> Yes <br>
                          <label for="inputtext">If Yes,Please specify how many,otherwise leave blank</label>
                          <input type="text" class="form-control" id="iresion" placeholder="">
                          <input class="form-check-input" type="radio" name="Any Pending Backlog" id="iradio"> No
                         </div>
                         <div class="form-group">
                          <label for="inputtext">Any gap in study</label><br>
                          <input class="form-check-input" type="radio" name="Any gap in study" id="iradio"> Yes <br>
                          <label for="inputtext">If Yes,Give reason,otherwise leave blank</label>
                          <input type="text" class="form-control" id="iresion" placeholder="">
                          <input class="form-check-input" type="radio" name="Any gap in study" id="iradio"> No
                         </div>
                         <div class="form-group">
                          <label for="inputtext">NCS ID</label>
                          <input type="text" class="form-control" id="incsid" placeholder="">
                        </div>
                        <div class="form-group">
                          <label for="inputtext">Interested in placement</label><br>
                          <input class="form-check-input" type="radio" name="Interested in placement" id="iradio"> Yes <br>
                          <input class="form-check-input" type="radio" name="Interested in placement" id="iradio"> No
                         </div> 
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary" id="isubmit">Submit</button>
                      <button type="submit" class="btn btn-primary" id="ireset">Reset</button>
                  </div>
              </div>
          

</body>
</html>