<!DOCTYPE html>
<html>
  <head>
    <title> Sports Form </title>
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style2.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>
    <!-- Page formatting code -->
  <section id="team" class="section grey-section">
    <div class="white-shape">
        <div class="icon-container fixed border-radius">
            <i class="fa fa-users"></i>
        </div>
    </div>
    <div class="section-container">
        <div class="container">
            <div class="big-title">
                <h3>
                    <span>SPORTS</span> Form</h3>
                <div class="border-title"></div>
            </div>
            <!-- Page enteries code -->
            <div class="masonry-item col-md-6">
              <div class="bgc-white p-20 bd">
                  <div class="mT-30">
                      <form>
                          <div class="form-group row">
                              <label for="inputtext" class="col-sm-2 col-form-label">Name</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputtext" placeholder="">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="inputtext" class="col-sm-2 col-form-label">Roll No</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputtext" placeholder="">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="inputtext" class="col-sm-2 col-form-label">Class</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" id="inputtext" placeholder="">
                              </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputtext" class="col-sm-2 col-form-label">Date of Birth</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputtext" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputtext" class="col-sm-2 col-form-label">Gender</label>
                          <div class="col-sm-10">
                            <input class="form-check-input" type="radio" name="Gender"> Male
                            <br>
                            <input class="form-check-input" type="radio" name="Gender"> Female
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputtext" class="col-sm-2 col-form-label">Mobile No</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputtext" placeholder="">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="inputtext" class="col-sm-2 col-form-label">Email Id</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputtext" placeholder="">
                          </div>
                        </div>      
                          <div class="form-group row">
                              <label for="inputtext" class="col-sm-2 col-form-label">Select Games</label>
                              <div class="col-sm-10">
                                  <input class="form-check-input" type="checkbox"> Cricket
                                  <br>
                                  <input class="form-check-input" type="checkbox"> Badminton
                                  <br>
                                  <input class="form-check-input" type="checkbox"> Table Tennis
                                  <br>
                                  <input class="form-check-input" type="checkbox"> Lawn Tennis
                                  <br>
                                  <input class="form-check-input" type="checkbox"> Handball
                                  <br>
                                  <input class="form-check-input" type="checkbox"> Basketball
                                  <br>
                                  <input class="form-check-input" type="checkbox"> Football
                                  <br>
                                  <input class="form-check-input" type="checkbox"> Carrom
                                  <br>
                                  <input class="form-check-input" type="checkbox"> Hockey
                                  <br>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="form-group row">
              <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="submit" class="btn btn-primary">Reset</button>
              </div>
          </div>

</body>
</html>