.redborder{
    color: purple;
}

header
{
    background: lightyellow;
    text-align: center;
}
a
{
    color: red;
}

body
{
    background-color:paleturquoise;
}

img
{
    border-radius: 32px 4px;
    border: solid purple;
    float: right;
}

#profile
{
    color: brown;
}

table
{
    width: 1200px;
    text-align: center;
}

th 
{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

tr:hover 
{
    background-color: lightcyan;
}
footer
{
    text-align: right;
    background: lightyellow;
}
form
{
    background: dodgerblue;
}